.contentPane {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 25px;
    box-sizing: content-box;
}

.tasks {
    width: 50%;
}

.notes {
    width: 75%;
}
